{% extends "qa/base.html" %}

{% block title %}QA - Question{% endblock %}

{% block body %}

<h2>{{ question.title}}</h2>
<p>
    {{question.text}}
</p>
<p>
    {%for answer in question.answer_set.all %}
    <div>
        {{ answer.text }}
    </div>
    {% endfor %}
</p>
<p>
    <h4>Put Your answer here: </h4>
    <form action="{% url 'question' question.id %}" method="post">
        {% csrf_token %}
        {{ form.as_ul }}
        <input type="submit" value="Save"/>
    </form>
</p>

{% endblock %}
